{%extends "crowdcop_web/form_parent.html"%}
{%block title%}Search: "{{query}}"{%endblock%}
{%block jumbotron_message%}Search Campaigns {%endblock%}
{% block form %}

    <form method="get" action=".">
        <!--<table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>-->

        {% if query %}
            <h3>Results for "{{query}}"</h3>
              <ul class="list-group">

            {% for result in page.object_list %}
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class ="row">
                        <div class = "col-lg-3 col-md-3 col-sm-3">
                        <div class="thumbnail" width="254" height="175" style="margin-bottom:0px;width:match-parent;height:175px;background-position:center;background-size:cover;background-image: url({{result.object.campaign_image_url}})"></div>
                           <!-- <img src="{{result.object.campaign_image_url}}" alt="Campaign Thumbnail" width="100%" class="img-thumbnail">-->
                        </div>
                        <div class = "col-lg-7 col-md-7 col-sm-7">
                            <a href="/crowdcop_web/campaign/{{result.object.id}}"><h2>{{ result.object.campaign_title }}</h2></a>
                            <div class="well">
                                {{ result.object.campaign_description }}
                            </div>
                        </div>
                            
                    </div>
                    </div>
            </li>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}
            </ul>
            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}