{%extends "crowdcop_web/main_template.html"%}


{%block title%}FAQ{%endblock%}

{%block content%}
<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="carousel1" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#carousel1" data-slide-to="0" class="active"> </li>
            <li data-target="#carousel1" data-slide-to="1" class=""> </li>
          </ol>
          <div class="carousel-inner">
            
            <div class="item active"> <img class="img-responsive" src="https://i.imgsafe.org/5face48.png" alt="thumb">
            </div>
            <div class="item"> <img class="img-responsive" src="https://i.imgsafe.org/5e87da2.png" alt="thumb">
            </div>
          </div>
          <a class="left carousel-control" href="#carousel1" data-slide="prev"><span class="icon-prev"></span></a> <a class="right carousel-control" href="#carousel1" data-slide="next"><span class="icon-next"></span></a></div>
      </div>
</div>
    <hr>
  </div>
<div class="container">
<div class="page-header">
    <h1>FAQ</h1>
</div>
<ul class="list-group">
  <li class="list-group-item"><h4>What is CrowdCop?</h4>
We are a crowdfunding platform for solving and preventing crimes. We are aiming to be the first socially dynamic way for the public to get involved in the crime solving process. <br>
<br>
When you want to support a presidential candidate, you contribute to their campaign. This creates a market for presidential candidates. In a similar way, we are creating a market for information that solves or prevents a crime. </li>
  <li class="list-group-item"><h4>Campaigns?</h4>
A campaign relates to either a general or specific crime that people can crowdfund. At the end of the month the tips relating to a campaign that are approved by law enforcement will receive an equal portion of the funds raised.</li>
  <li class="list-group-item"><h4>Socially Dynamic?</h4> This means that the crimes the public feels more strongly about will raise more funds, meaning that is easier for law enforcement to solve those crimes because the tips relating to them are more valuable and will likely come in with a greater frequency.</li>
  <li class="list-group-item"><h4>How Can I Help?</h4> We are an open source initiative and are always looking for people who can contribute to our repository. Check it out <a href="https://github.com/bocaaust/CrowdCop">here</a>.</li>
  <li class="list-group-item"><h4>Are Payments Secure?</h4> We currently collect payments through Paypal, a company known for its security and ease of use.</li>
  <li class="list-group-item"><h4>Is CrowdCop for Emergencies?</h4> Absolutely not, CrowdCop is meant for tips for non-emergency threats only. You should always call 911 in an emergency situation.</li>
  <li class="list-group-item"><h4>Are Tips Secure?</h4>
Tips provided to CrowdCop have the option to be anonymous. This includes your PayPal id which is assigned a random number which law enforcement will see in place of your username.</li>
  <li class="list-group-item"><h4>When Can I Start Using CrowdCop?</h4> We are testing the service this summer across the RPI campus.</li>
  <li class="list-group-item"><h4>Press</h4> Part of our strategy for CrowdCop is being a solution that the press can present when reporting on crimes. If you would like more information about the service please contact <a href="mailto:#">bocaaust@gmail.com</a>.</li>
</ul>
</div>
</div>

{%endblock%}
