
{%extends "crowdcop_web/form_parent.html"%}

{% load mathfilters %}
{% load staticfiles%}
{%block title%}Your History{%endblock%}

{%block jumbotron_message%}Your History{%endblock%}
{%block heading%}{%endblock%}
{%block form%}
    <ul class="list-group">
	    {% for result in campaigns %}
	    <li class="list-group-item">
	        <div class="container-fluid">
	            <div class ="row">
	                <div class = "col-lg-3 col-md-3 col-sm-3">
	                <div class="thumbnail" width="254" height="175" style="margin-bottom:0px;width:match-parent;height:175px;background-position:center;background-size:cover;background-image: url({{result.campaign_image_url}})"></div>
	                   <!-- <img src="{{result.object.campaign_image_url}}" alt="Campaign Thumbnail" width="100%" class="img-thumbnail">-->
	                </div>
	                <div class = "col-lg-7 col-md-7 col-sm-7">
	                    <a href="/crowdcop_web/campaign/{{result.id}}/"><h2>{{ result.campaign_title }}</h2></a>
	                    <div class="well">
	                        {{ result.campaign_description }}
	                    </div>
	                </div>
	                    
	            </div>
	        </div>
	    </li>
	    {% empty %}
	        <p>No results found.</p>
	    {% endfor %}
    </ul>
{%endblock%}