{%extends "crowdcop_web/main_template.html"%}


{%block title%}Creators{%endblock}


{%block content%}
<div id = "content">
<div class="container-fluid">
<div class="page-header">
    <h1>Austin Lubetkin <small>Founder</small></h1>
    </div>
  <div class="container-fluid">
    <div class="thumbnail col-sm-4"><img src="https://scontent.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/12734064_10205820095248992_380013749133235187_n.jpg?oh=da6fc620e6a5997106350ae0fe5700fe&oe=57572947" class="img-responsive" alt="Austin Lubetkin" href="https://github.com/bocaaust"></div>
    <div class="col-sm-7 well"><ul class="list-group">
  <li class="list-group-item"><h4>RPI 2019, CS Major</h4></li>
  <li class="list-group-item">I grew up believing that every problem has a solution, it just takes creativity to find the one that works. One of the great things about college has been that I have met people and gotten in touch with organizations who I am now working with to make my ideas, like CrowdCop, into a reality. I'm also a strong advocate for the ASD community and have worked with organizations like Artists with Autism as a mentor teaching entrepreneurial skills to special needs individuals.</li>
    </ul>
</div>
</div>
<div class="page-header">
    <h1>Katie Burkhardt <small>Founder</small></h1>
    </div>
  <div class="container-fluid">
    <div class="thumbnail col-sm-4"><img src="https://scontent.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/12341036_1501783263450006_2048940113394308522_n.jpg?oh=56e7031b005cd30ecf0ea04910f49b9b&oe=57527473" alt="Katie Burkhardt" href="https://github.com/kburk1997"></div>
    <div class="col-sm-7 well"><ul class="list-group">
  <li class="list-group-item">
    <h4>RPI 2019, CSE Major</h4>
  </li>
  <li class="list-group-item">I started working with technology when I was just six years old. I have always dreamed of changing the world using technology, and RCOS was the perfect opportunity to do so. I am also an advocate for diversity in STEM fields and was an NCWIT Affiliate Award winner in the past.</li>
    </ul>
</div>
</div>
</div>
</div>


{%endblock%}