{%extends "crowdcop_web/main_template.html"%}

{% load staticfiles %}

{%block title%}Welcome to CrowdCop!{%endblock%}
{%block content %}
<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="carousel1" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#carousel1" data-slide-to="0" class="active"> </li>
            <li data-target="#carousel1" data-slide-to="1" class=""> </li>
          </ol>
          <div class="carousel-inner">
            
            <div class="item active"> <img class="img-responsive" src="https://i.imgsafe.org/5face48.png" alt="thumb">
            </div>
            <div class="item"> <img class="img-responsive" src="https://i.imgsafe.org/5e87da2.png" alt="thumb">
            </div>
          </div>
          <a class="left carousel-control" href="#carousel1" data-slide="prev"><span class="icon-prev"></span></a> <a class="right carousel-control" href="#carousel1" data-slide="next"><span class="icon-next"></span></a></div>
      </div>
</div>
    <hr>
  </div>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-2"><img class="img-circle" alt="Create a Campaign" src="https://i.imgsafe.org/60734e4.png"></div>
        <div class="col-lg-6 col-md-9 col-sm-9 col-xs-9">
          <a href="https://github.com/bocaaust/CrowdCop"><h4>Contribute</h4></a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-2"><img class="img-circle" alt="Browse a Campaign" src="https://i.imgsafe.org/5ed4db7.png"></div>
        <div class="col-lg-6 col-md-9 col-sm-9 col-xs-9">
           <a href="{% url 'faq'%}"><h4>Learn More </h4></a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <div class="row">
       <div class="col-lg-2 col-md-3 col-sm-3 col-xs-2"><img href="http://crowd-cop.com/Tip.php" class="img-circle" alt="Submit a Tip" src="https://i.imgsafe.org/5db111f.png"></div>
        <div class="col-lg-6 col-md-9 col-sm-9 col-xs-9">
          <a href="{%url 'submit_tip'%}"><h4>Submit a Tip</h4> </a>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<h2 class="text-center">TRENDING CAMPAIGNS</h2>
<hr>
<div class="container">
  <div class="row text-center">
  {%for campaign in trending_campaigns%}
    {%if forloop.counter < 4%}
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
      <div class="thumbnail"> 

        <div class="thumbnail" width="400" height="300" style="margin-bottom:0px;width:match-parent;height:200px;background-position:center;background-size:cover;background-image: url({{campaign.campaign_image_url}})"><!--<img src="{{campaign.campaign_image_url}}" alt="Thumbnail Image 1" class="img-responsive"  style="object-fit:cover">--></div>
        <div class="caption" style="margin-bottom:0px;display:inline-block;height:150px;
overflow: hidden;">
            <h3 style="display:block; display: -webkit-box;
            height: 26*1.428; /* Fallback for non-webkit */
            max-height: 1em;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;overflow:hidden;">{{campaign.campaign_title}}</h3>
            <p style="display:block; display: -webkit-box;
            height: 14*1.428*3; /* Fallback for non-webkit */
            max-height: 4em;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;overflow:hidden;">{{campaign.campaign_description}}</p>
        </div>
        <div class="caption">
            <p><a href="/crowdcop_web/campaign/{{campaign.id}}/" class="btn btn-primary" role="button">Crowd Fund</a></p>
        </div>
      </div>
    </div>      
    {%endif%}
  {%endfor%}
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 hidden-lg hidden-md hidden-sm">
      <div class="thumbnail"> 
                <div class="thumbnail" width="400" height="300" style="margin-bottom:0px;width:match-parent;height:200px;background-position:center;background-size:cover;background-image: url({{trending_campaigns.3.campaign_image_url}})"><!--<img src="{{campaign.campaign_image_url}}" alt="Thumbnail Image 1" class="img-responsive"  style="object-fit:cover">--></div>
        <div class="caption" style="margin-bottom:0px;display:inline-block;height:150px;
overflow: hidden;">          <h3 style="display:block; display: -webkit-box;
            height: 26*1.428; /* Fallback for non-webkit */
            max-height: 1em;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;overflow:hidden;">{{trending_campaigns.3.campaign_title}}</h3>
          <p style="display:block; display: -webkit-box;
            height: 14*1.428*3; /* Fallback for non-webkit */
            max-height: 4em;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;overflow:hidden;">{{trending_campaigns.3.campaign_description}}</p></div>
          <div class= "caption">
          <p><a href="/crowdcop_web/campaign/{{trending_campaigns.3.id}}/" class="btn btn-primary" role="button">Crowd Fund</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center hidden-xs">
{%for campaign in trending_campaigns%}
    {%if forloop.counter >= 4%}
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
      <div class="thumbnail"> 
              <div class="thumbnail" width="400" height="300" style="margin-bottom:0;width:match-parent;height:200px;background-position:center;background-size:cover;background-image: url({{campaign.campaign_image_url}})"><!--<img src="{{campaign.campaign_image_url}}" alt="Thumbnail Image 1" class="img-responsive"  style="object-fit:cover">--></div>

        <div class="caption" style="margin-bottom:0px;display:inline-block;height:150px;
overflow: hidden;">          <h3 style="display:block; display: -webkit-box;
            height: 26*1.428; /* Fallback for non-webkit */
            max-height: 1em;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;overflow:hidden;">{{campaign.campaign_title}}</h3>
          <p style="display:block; display: -webkit-box;
            height: 14*1.428*3; /* Fallback for non-webkit */
            max-height: 4em;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;overflow:hidden;">{{campaign.campaign_description}}</p></div>
          <div class= "caption">
          <p><a href="http://104.236.126.25/crowdcop_web/campaign/{{campaign.id}}/" class="btn btn-primary" role="button">Crowd Fund</a></p>
        </div>
      </div>
    </div>      
    {%endif%}
  {%endfor%}
  </div>
  <nav class="text-center">
    
    <ul class="pagination">

      {%ifequal page 1%}
      <li class="disabled"> <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
      {%else%}
      <li> <a href="{%url 'trending' page=previous_page%}" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
      {%endifequal%}
      
      {%for page_num in pages%}

        {%ifequal page page_num%}
        <li class="active"><a href="#">{{page_num}}</a></li>
        {%else%}
        <li><a href="{%url 'trending' page=forloop.counter%}">{{page_num}}</a></li>
        {%endifequal%}
      {%endfor%}
      <li class="disabled"><a href="#">{{inactive_page}}</a></li>
      {%ifequal page num_pages%}
      <li class="disabled"> <a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
      {%else%}
      <li> <a href="{%url 'trending' page=next_page%}" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
      {%endifequal%}
      
    </ul>
  </nav>
</div>
<hr>
<h2 class="text-center">MOST RECENT CAMPAIGNS</h2>
<hr>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="media-object-default">
      {%for campaign in latest_campaigns%}
        {%if forloop.counter < 4%}
           <div class="media" height="100">
              <div class="media-left media-object" style="margin-bottom:0;width:100px;height:100px;background-position:center;background-size:cover;background-image: url({{campaign.campaign_image_url}})">  <img class="media-object"
               width="100px" alt="">  </div>
              <div class="media-body" style="padding:6px;height=100px;">
                <a href="/crowdcop_web/campaign/{{campaign.id}}/"><h4 class="media-heading" style="display:block; display: -webkit-box;
            height: 18px; /* Fallback for non-webkit */
            max-height: 1em;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;overflow:hidden;">{{campaign.campaign_title}}</h4></a>
                <p style="display:block; display: -webkit-box;
            height: 78px; /* Fallback for non-webkit */
            max-height: 6em;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;overflow:hidden;">{{campaign.campaign_description}}</p> </div>
            </div>          
        {%endif%}

      {%endfor%}
      </div>
    </div>
    <hr class="hidden-md hidden-lg">
    <div class="col-lg-4 col-md-6">
      <div class="media-object-default">
      {%for campaign in latest_campaigns%}
        {%if forloop.counter >= 4 and forloop.counter < 7%}
           <div class="media" height="100">
              <div class="media-left media-object" style="margin-bottom:0;width:100px;height:100px;background-position:center;background-size:cover;background-image: url({{campaign.campaign_image_url}})">  <img class="media-object"
               width="100px" alt="">  </div>
              <div class="media-body" style="padding:6px;height=100px;">
                <a href="/crowdcop_web/campaign/{{campaign.id}}/"><h4 class="media-heading" style="display:block; display: -webkit-box;
            height: 18px; /* Fallback for non-webkit */
            max-height: 1em;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;overflow:hidden;">{{campaign.campaign_title}}</h4></a>
                <p style="display:block; display: -webkit-box;
            height: 78px; /* Fallback for non-webkit */
            max-height: 6em;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;overflow:hidden;">{{campaign.campaign_description}}</p> </div>
            </div>     
        {%endif%}

      {%endfor%}
      </div>
    </div>
    <hr class="hidden-lg">
    <div class="col-lg-4 col-md-12 hidden-md">
      <div class="media-object-default">
        {%for campaign in latest_campaigns%}
          {%if forloop.counter >= 7 and forloop.counter < 10%}
           <div class="media" height="100">
              <div class="media-left media-object" style="margin-bottom:0;width:100px;height:100px;background-position:center;background-size:cover;background-image: url({{campaign.campaign_image_url}})">  <img class="media-object"
               width="100px" alt="">  </div>
              <div class="media-body" style="padding:6px;height=100px;">
                <a href="/crowdcop_web/campaign/{{campaign.id}}/"><h4 class="media-heading" style="display:block; display: -webkit-box;
            height: 18px; /* Fallback for non-webkit */
            max-height: 1em;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;overflow:hidden;">{{campaign.campaign_title}}</h4></a>
                <p style="display:block; display: -webkit-box;
            height: 78px; /* Fallback for non-webkit */
            max-height: 6em;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;overflow:hidden;">{{campaign.campaign_description}}</p> </div>
            </div>          
          {%endif%}
        {%endfor%}
      </div>
    </div>
  </div>
</div>
{%endblock%}
