{%extends "crowdcop_web/main_template.html"%}

{%load staticfiles%}
{%block title%}Profile{%endblock%}

{%block content%}
<div id="fb-root"></div>
<!--<link rel="stylesheet" href="{% static "crowdcop_web/css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "crowdcop_web/css/Profile_Style.css" %}">-->
<style type="text/css">
@import url("https://raw.githubusercontent.com/bocaaust/CrowdCop/master/CrowdCop_test/crowdcop/crowdcop/static/crowdcop_web/css/bootstrap.css");
@import url("https://raw.githubusercontent.com/bocaaust/CrowdCop/master/CrowdCop_test/crowdcop/crowdcop/static/crowdcop_web/css/Profile_Style.css");
</style>

<script type="text/javascript">
  $(document).ready(function() {
    $(".btn-pref .btn").click(function () {
      $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
      // $(".tab").addClass("active"); // instead of this do the below 
      $(this).removeClass("btn-default").addClass("btn-primary");   
    });
  });
</script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1502789433375993";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class = "container well">
  <div class="col-lg-12 col-sm-12">
    <div style ="margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);">
        <div style="height: 130px;">
          <img style="-webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;" alt="" src="https://scontent-lga3-1.xx.fbcdn.net/hprofile-xap1/v/t1.0-1/p320x320/12341036_1501783263450006_2048940113394308522_n.jpg?oh=8fe5a3c7a8a16776a753d0426a4ee939&oe=5767B15F">
            <!-- http://lorempixel.com/850/280/people/9/ -->
        </div>
      <div style="position: absolute;
    top: 15px;
    left: 0;
    right: 0;">
            <img style="width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);" alt="Profile Image" src="https://scontent-lga3-1.xx.fbcdn.net/hprofile-xap1/v/t1.0-1/p320x320/12341036_1501783263450006_2048940113394308522_n.jpg?oh=8fe5a3c7a8a16776a753d0426a4ee939&oe=5767B15F">
        </div>
        <div style="position: absolute;
    bottom: 14px;
    left: 0;
    right: 0; 
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;"><span style="padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;">{{user.first_name}} {{user.last_name}}</span></div>
    </div>
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" style="-webkit-border-radius:0 !important;" role="group" aria-label="...">
      <div class="btn-group" role="group">
            <button type="button" id="following" class="btn btn-default" href="#tab1" data-toggle="tab"><img class="img glyphicon-align-center" src="https://i.imgsafe.org/699912f.png" alt = "">
                <div class="hidden-xs">Following</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="supported" class="btn btn-default" href="#tab2" data-toggle="tab"><img class="img glyphicon-align-center" alt = "" src="https://i.imgsafe.org/67dc990.png">
                <div class="hidden-xs">Supported</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="about" class="btn btn-default" href="#tab3" data-toggle="tab"><img class="img glyphicon-align-center" src="https://i.imgsafe.org/672a3b0.png" alt = "">
            <div class="hidden-xs">About</div>
            </button>
        </div>
    </div>

        <div class="well">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
          <div class="container">
  <div class="row text-center">
    {%if campaigns.size == 0%}
      This user isn't following any campaigns.
    {%else%}
      {%for campaign in campaigns%}
        <div class="col-sm-11 container-fluid">
          <div class="thumbnail"> 
            <div class="caption">
              <h3>{{campaign.campaign_title}}</h3>
              <p>{{campaign.campaign_description}}</p>
              <p><a href="/crowdcop_web/campaign/{{campaign.id}}/" class="btn btn-primary" role="button">Crowd Fund</a></p>
            </div>
          </div>
        </div>
      {%endfor%}
    {%endif%}

    
    </div>
    </div>
    </div>
        <div class="tab-pane fade in" id="tab2">
          
         
<table class="table">
  {%if supported.size == 0%}
    This user hasn't crowdfunded anything yet!
  {%else%}
      <thead>
                <tr>
            <th></th>
            <th>Amount</th>
            <th>Campaign Name</th>
            <th>Date</th>
        </tr>
      </thead>
    <tbody>
      {%for contribution in supported%}
      <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>${{contribution.amount}}</td>
            <td><a href="/crowdcop_web/campaign/{{contribution.campaign.id}}/">{{contribution.campaign.campaign_title}}</a></td>
            <td>{{contribution.contribution_date}}</td>
        </tr>
      {%endfor%}
    </tbody>
    {%endif%}


</table>
          
        </div>
        <div class="tab-pane fade in" id="tab3">
        <h2>About</h2>
          <ul class="list-group">
  <li class="list-group-item"><h4>Name</h4> {{user.first_name}} {{user.last_name}}</li>
  <li class="list-group-item"><h4>User Since</h4>{{user.date_joined}}</li>
  <li class="list-group-item"><h4>Jurisdiction</h4> {{user.CrowdcopUser.institution}}</li>
</ul>

<form action="http://crowd-cop.com/upload.php" method="post" enctype="multipart/form-data">
    Upload a Profile Image:
    <input type="file" name="fileToUpload" id="fileToUpload">
    <input type="submit" value="Upload Image" name="submit">
</form>

        </div>
    </div>
    </div>
</div>

</div>
{%endblock%}