{%extends "crowdcop_web/main_template.html"%}

{%block title%}Register{%endblock%}

{%block content%}
	<script src="js/jquery-1.11.2.min.js"></script>
	<div class="container">
	  <div class="row">
	    <div class="col-lg-12">
	      <div class="jumbotron" style = "background-color: #66ffff;
	      background-image: url(https://i.imgsafe.org/0e821ca.png);
	    background-position: 0% 25%;
	    background-size: cover;
	    background-repeat: no-repeat;
		color: white; text-shadow: black 0.3em 0.3em 0.3em;"> 
	    <div class="center-block">
	    <div class="col-sm-4"></div>
	     <img src="https://i.imgsafe.org/1032cd8.png" width="25%" height="auto" class="img-responsive" alt="CrowdCop Logo"></div>
	        <h1 class="text-center" style="color: #FCFCFC;
	    background-color: black;
	    border: 1px solid black;
	    opacity: 0.55;
	    filter: alpha(opacity=55); /* For IE8 and earlier */"> &nbsp; Welcome to CrowdCop</h1>
	        </div>
	</div>

	{%if registered%}
	 <div class="page-header">
   		<h1> <small>You're already registered1</small></h1>
	</div>
	<a href="{%url 'index'%}">Go back to the homepage.</a>
	{%else%}
		 <div class="page-header">
		   <h1> <small>Sign Up</small></h1>
		 </div>
		<form id="user_form" method="post" action="/crowdcop_web/register/"
				enctype="multipart/form-data">

			{% csrf_token %}
			{{ user_form.as_p }}
			{{ profile_form.as_p }}

			<input type="submit" name="submit" value="Register" />
		</form>
	{%endif%}
{%endblock%}