{%extends "crowdcop_web/form_parent.html"%}

{%block title%}Register{%endblock%}
{%block jumbotron_message%}Welcome to CrowdCop{%endblock%}

{%block heading%}
	{%if registered%}
		You're already registered!
	{%else%}
		Sign up
	{%endif%}
{%endblock%}

{%block form%}
	{%if registered%}
		<a href="{%url 'index'%}">Go back to the homepage.</a>
	{%else%}
	<form id="user_form" method="post" action="/crowdcop_web/register/"
				enctype="multipart/form-data">

			{% csrf_token %}
			{{ user_form.as_p }}
			{{ profile_form.as_p }}

			<input type="submit" name="submit" value="Register" />
		</form>
	{%endif%}
{%endblock%}
		