{%extends "crowdcop_web/main_template.html"%}
{% load staticfiles %}
{% load i18n widget_tweaks %}

{%block content%}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron" style = "background-color: #66ffff;
      background-image: url(https://i.imgsafe.org/5b5051f.png);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
	color: white; text-shadow: black 0.3em 0.3em 0.3em;"> 
    <div class="center-block">
    <div class="col-sm-4"></div>
     <img src="https://i.imgsafe.org/5cc423b.png" width="25%" height="auto" class="img-responsive" alt="CrowdCop Logo"></div>
        <h1 class="text-center" style="color: #FCFCFC;
    background-color: black;
    border: 1px solid black;
    opacity: 0.55;
    filter: alpha(opacity=55); /* For IE8 and earlier */"> &nbsp;{%block jumbotron_message%}{%endblock%}</h1>
        </div>
       
</div>

		 <div class="page-header">
		   <h1> <small>{%block heading%}{%endblock%}</small></h1>
		 </div>
	{%block form%}
	{%endblock%}
{%endblock%}